*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:skyblue;
    
}

color{
    color: rgb(198, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

color{
    transition: all 0.3s ease 0s;
}

color:hover{
    color: rgb(57, 9, 168);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

li,a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white ;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

header a{
    margin-right: auto;
    cursor: pointer;
}
.navBar{
    list-style: none;
}
.navBar li{
    display: inline-block;
    padding: 0px 10px;
}
.navBar li a{
    transition: all 0.3s ease 0s;
}
.navBar li a:hover{
    color:rgb(57, 9, 168) ;
    font-size: 110%;
}


input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
    }

@media screen and (max-width:700px) {
    
    header{
            display: flex;
            flex-direction: column;
            justify-content: center;
    }
    .navBar{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    
    .container{
        background-color: skyblue;
        text-decoration: none;
        animation: none;
    }
    body{
        background-color: skyblue;
        animation: none;
    }
.top-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: skyblue;
}
.photo-gallery{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;    
}

.receipes-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
h1{
    font-weight: normal;
    font-size: 25px;
    position: relative;
    margin: 40px 0;
}

h2{
    font-weight: normal;
    font-size: 25px;
    position: relative;
    margin: 40px 0;
}
h2::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animates 4s linear infinite;
}


@keyframes animates{
    0%{
        width: 20px;
    }
    50%{
        width:50px;
    }
    100%{
        width:20px;
    }
}

h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width:100px;
    }
    50%{
        width:200px;
    }
    100%{
        width:100px;
    }
}

.top-content{
    display: flex;
   justify-content: center;
}

h3{
    height: 100%;

    color: beige;
    line-height: 60px;
    padding: 0 50px;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0px 10px;
    line-height: 50px;
    font-size: 18px;
    color: white;
    cursor: pointer;

    transition: .3s;
}
label:hover{
    color: darkblue;
    height: 90%;
    font-size: 20px;
    
}

.photo-gallery{
   display: flex;
   flex-wrap: wrap;
   padding: 30px;
   width: 300;
   height: auto;
}
.pic{

    border-radius: 4px 4px 4px 4px;
    width: 300px;
    height: 300px;
     text-align: center;
     color:darkblue; 
     padding: 20px;
    

}

   
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
}

.pic:hover img{
transform: scale(1.03);
}

p{
    margin: 40px 40px;
}
#about-me{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    flex-wrap: wrap;
    
}
.about-meD{
    position:relative;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid;
}
.about-meD h4,dl{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 10px 20px;
    
}

.receipes-type{
 display: flex;
 justify-content: flex-end;
 margin: 20px 20px;
border-radius: 20px;
}
